:root {
    --gray: #111827;
    --text: #68737D;
    --header: #111827;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
}

/* mobile navigation */

.mobilenavi {
    width: 414px;
    height: 440px;
    position: absolute;
    z-index: 10;
    background: #FFFFFF;
    transform: translateY(-100%);
    transition: all .6s ease-in-out;
}
.open{
    transform: translateY(0%);
}

.mobilenavi .logo {
    width: 374px;
    height: 40px;
    margin: 20px 20px 0 20px;
}
.mobilenavi .logo img{
    width: 41.25px;
    height: 37.5px;
}

.mobilenavi ul {
    width: 374px;
    height: 192px;
    margin: 0 auto;
    flex-direction: column;
    margin-top: 25px;
}

.mobilenavi ul li {
    list-style: none;
}

.mobilenavi ul li a {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}

.mobilenavi .bottom {
    width: 414px;
    height: 138px;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.mobilenavi .bottom button {
    width: 374px;
    height: 42px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.mobilenavi .bottom p {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}
.mobilenavi .bottom p span{
  color:  #111827;
}

/* navbar */

.navbar {
    width: 1440px;
}

.navigation {
    height: 76px;
    position: static;
}

.navigation .left {
    width: 478.75px;
    height: 40px;
}

.container .navigation .left .logo img {
    height: 37.5px;
    width: 41.25px;
}

.links {
    width: 395px;
    height: 24px;
}

.links ul {
    width: 395px;
    height: 24px;
    list-style: none;
}

.navigation .right {
    width: 212px;
    height: 44px;
}

.navigation .right .login {
    color: var(--text);
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.links ul li a {
    text-decoration: none;
    color: #68737D;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-family: SF Pro Text;
}

/* Hero */

.hero {
    height: 642px;
    width: 1440px;
    position: relative;
    overflow: hidden;
}

.main {
    position: absolute;
    width: 1280px;
    height: 402px;
    left: 80px;
    top: 136px;
}

.main .left {
    position: absolute;
    height: 374px;
    left: 26px;
    right: 632px;
    top: 0px;
}

.main .left .data h1 {
    color: var(--header);
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.0225em;
}

.main .left .data h1 span {
    color: transparent;
    background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%);
    -webkit-background-clip: text;
}

.main .left .data p {
    position: static;
    width: 600px;
    height: 84px;
    left: 0px;
    top: 140px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #6B7280;
    margin: 20px 0;
}

.main .right {
    position: absolute;
    width: 600px;
    height: 402px;
    left: 632px;
    top: 0px;
}

.main .right .image {
    position: absolute;
    width: 448px;
    height: 299px;
    left: 76px;
    top: 52px;
}

.main .right img {
    width: 448px;
    height: 299px;
}

.main .left .signup .message p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
    margin: 12px 0;
}

.main .left .signup .form {
    position: static;
    width: 512px;
    height: 50px;
}

.main .left .signup .form input {
    position: static;
    width: 353px;
    height: 50px;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.main .left .signup .form .button {
    position: relative;
}

.main .left .signup .form .button .btn {
    height: 44px;
    width: 141px;
}

.main .left .signup .form .button .shadow {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    left: 6px;
    top: 6px;
    height: 44px;
    width: 141px;
    background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%);
}

.main .left .policy {
    margin: 12px 0;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.main .left .policy p span {
    text-decoration: underline;
    color: black;
}

.hero .plate {
    content: "";
    width: 640px;
    height: 546px;
    background: #F3F4F6;
    position: absolute;
    right: -140px;
    top: calc(50% - 546px/2);
    z-index: -1;
}

/* section 2 */

section .pattern {
    position: absolute;
    width: 404px;
    height: 404px;
    right: 1036px;
    top: 206px;
}

section {
    width: 1440px;
    height: 1050px;
    background-color: #111827;
    clip-path: polygon(0 11.42%, 100% 0, 100% 88.58%, 0% 100%);
    position: relative;
}

.section2 {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 120px;
}

.section_container {
    flex-direction: row;
    justify-content: center;
    padding: 0px 32px;
    position: absolute;
    width: 1280px;
    height: 666px;
    left: 80px;
    top: 72px;
}

.section2 .section_container .container .sec {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: absolute;
    width: 1216px;
    height: 666px;
    left: 32px;
    top: 0px;
}

.section2 .section_container .container .sec .header {
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    position: absolute;
    width: 678px;
    height: 88px;
    left: 269px;
    top: 0px;
}

.section2 .section_container .container .sec .header span {
    position: absolute;
    width: 103px;
    height: 18px;
    left: 287.5px;
    top: 0px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.section2 .section_container .container .sec .header p {
    position: absolute;
    width: 680px;
    height: 54px;
    left: 0px;
    top: 34px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.0225em;
    color: #ffff;
}




/* section 2 content */

.section2 .section_container .container .sec .column {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1216px;
    height: 538px;
    left: 0px;
    top: 128px;
}

.section2 .section_container .container .sec .column .card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 538px;
    left: 0px;
    top: 0px;
}

.section2 .section_container .container .sec .column .card1 .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 288px;
    height: 274px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card1 .box1 .logo {
    padding: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 32px;
}

.section2 .section_container .container .sec .column .card1 .box1 .content {
    position: absolute;
    width: 224px;
    height: 154px;
    left: 32px;
    top: 88px;
}

.section2 .section_container .container .sec .column .card1 .box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 288px;
    height: 240px;
    left: 0px;
    top: 298px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card1 .box2 .logo {
    padding: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 42px;
}

.section2 .section_container .container .sec .column .card1 .box2 .content {
    position: absolute;
    width: 224px;
    height: 110px;
    left: 32px;
    top: 98px;
}

.section2 .section_container .container .sec .column .card2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 538px;
    left: 312px;
    top: 0px;
}

.section2 .section_container .container .sec .column .card2 .box3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 288px;
    height: 214px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card2 .box3 .logo {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 32px;
    padding: 4px;
}

.section2 .section_container .container .sec .column .card2 .box3 .content {
    position: absolute;
    width: 224px;
    height: 94px;
    left: 32px;
    top: 88px;
}

.section2 .section_container .container .sec .column .card2 .box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 288px;
    height: 300px;
    left: 0px;
    top: 238px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card2 .box4 .logo {
    padding: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 32px;
}

.section2 .section_container .container .sec .column .card2 .box4 .content {
    position: absolute;
    width: 224px;
    height: 180px;
    left: 32px;
    top: 88px;
}

.section2 .section_container .container .sec .column .card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 592px;
    height: 538px;
    left: 624px;
    top: 0px;
}

.section2 .section_container .container .sec .column .card3 .box5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 32px;
    position: absolute;
    width: 592px;
    height: 254px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card3 .box5 img {
    position: absolute;
    width: 272px;
    height: 190px;
    left: 32px;
    top: 32px;
}

.section2 .section_container .container .sec .column .card3 .box5 .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 224px;
    height: 180px;
    left: 336px;
    top: 42px;
}

.section2 .section_container .container .sec .column .card3 .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 592px;
    height: 260px;
    left: 0px;
    top: 278px;
}

.section2 .section_container .container .sec .column .card3 .row .box6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 32px;
    position: absolute;
    width: 288px;
    height: 260px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    box-sizing: border-box;
    border-radius: 12px;
}

.section2 .section_container .container .sec .column .card3 .row .box6 img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 32px;
    top: 62px;
}

.section2 .section_container .container .sec .column .card3 .row .box6 .content {
    position: absolute;
    width: 224px;
    height: 110px;
    left: 32px;
    top: 118px;
}

.section2 .section_container .container .sec .column .card3 .row .frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 304px;
    height: 174px;
    left: 288px;
    top: 43px;
}

.section2 .section_container .container .sec .column .card3 .row .frame .ctc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 224px;
    height: 174px;
    left: 40px;
    top: 0px;
}

.section2 .section_container .container .sec .column .card3 .row .frame .ctc .icon {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 88px;
    top: 0px;
}

.section2 .section_container .container .sec .column .card3 .row .frame .ctc p {
    position: absolute;
    width: 219px;
    height: 78px;
    left: 0px;
    top: 60px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #E9EBED;
}

.section2 .section_container .container .sec .column .card3 .row .frame .ctc span {
    position: absolute;
    width: 90px;
    height: 24px;
    left: 67.5px;
    top: 150px;
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: transparent;
    background: linear-gradient(135deg, #B16CEA 33.85%, #FF5E69 55.21%, #FF8A56 78.12%, #FFA84B 100%);
    -webkit-background-clip: text;
}

/* section3 */

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px 0px;
    position: absolute;
    width: 1440px;
    height: 612px;
    left: 0px;
    top: 1768px;
}

.section3 .sec_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 1280px;
    height: 420px;
    left: 80px;
    top: 96px;
}

.section3 .sec_container .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1216px;
    height: 420px;
    left: 32px;
    top: 0px;
}

.section3 .sec_container .content .people {
    position: absolute;
    width: 588px;
    height: 374px;
    left: 0px;
    top: 0px;
}

.section3 .sec_container .content .people .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 459px;
    height: 328px;
    left: 64px;
    top: 23px;
    justify-content: space-between;
}

.section3 .sec_container .content .people .frame .card {
    width: 459px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    background-color: #ffff;
}

.section3 .sec_container .content .people .frame .card .box {
    width: 459px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 .sec_container .content .people .frame .card .box .infof {
    display: flex;
}

.section3 .sec_container .content .people .frame .card .box .infof .logo {
    margin-left: 16px;
}

.section3 .sec_container .content .people .frame .card .box .infof .name {
    margin-left: 32px;
}

.section3 .sec_container .content .people .frame .card .box .infof .name span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #111827;
}

.section3 .sec_container .content .people .frame .card .box .infof .name p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

.section3 .sec_container .content .people .frame .card .box .status {
    margin-right: 16px;
}

.section3 .sec_container .content .leading_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 588px;
    height: 420px;
    left: 628px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 588px;
    height: 132px;
    left: 0px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .header span {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.025em;
    color: #111827;
}

.section3 .sec_container .content .leading_content .header p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #6B7280;
    margin: 12px 0;
}

.section3 .sec_container .content .leading_content .features {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 588px;
    height: 248px;
    left: 0px;
    top: 172px;
}

.section3 .sec_container .content .leading_content .features .top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 588px;
    height: 104px;
    left: 0px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .features .top .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 0px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .features .top .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 524px;
    height: 104px;
    left: 64px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .features .top .text span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
    margin-bottom: 8px;
}

.section3 .sec_container .content .leading_content .features .top .text p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}

.section3 .sec_container .content .leading_content .features .bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 588px;
    height: 104px;
    left: 0px;
    top: 144px;
}

.section3 .sec_container .content .leading_content .features .bottom .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 524px;
    height: 104px;
    left: 64px;
    top: 0px;
}

.section3 .sec_container .content .leading_content .features .bottom .text span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #111827;
    margin-bottom: 8px;
}

.section3 .sec_container .content .leading_content .features .bottom .text p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}

.section3 .pattern img {
    position: absolute;
    width: 404px;
    height: 404px;
    right: 1096px;
    top: 47px;
    overflow: hidden;
    z-index: -1;
}

.section3 .pattern2 img {
    position: absolute;
    width: 404px;
    height: 404px;
    right: 1096px;
    top: 447px;
    overflow: hidden;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0px 0px;
    position: absolute;
    width: 1440px;
    height: 680px;
    left: 0px;
    top: 2380px;
}

.pricing .header {
    padding: 0px 32px;
    position: absolute;
    width: 1280px;
    height: 92px;
    left: 80px;
    top: 96px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pricing .header span {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.0225em;
    color: #111827;
    margin-bottom: 16px;
}

.pricing .header p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #4B5563;
}

.pricing .main {
    position: absolute;
    width: 1440px;
    height: 444px;
    left: 0px;
    top: 236px;
}

.pricing .main .content {
    position: absolute;
    height: 348px;
    left: 39px;
    right: 39px;
    top: 0px;
}

.pricing .main .content .card {
    position: absolute;
    width: 1298px;
    height: 348px;
    left: 32px;
    top: 0px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.pricing .main .content .card .left {
    position: absolute;
    width: 965px;
    height: 348px;
    left: 0px;
    top: 0px;
    background: #ffff;
}

.pricing .main .content .card .right {
    position: absolute;
    width: 333px;
    height: 348px;
    left: 965px;
    top: 0px;
    background-color: #F3F4F6;
}

.pricing .main .content .card .left .head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 869px;
    height: 108px;
    left: 48px;
    top: 48px;
    background-color: #ffff;
}

.pricing .main .content .card .left .head span {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 36px;
    color: #111827;
    margin-bottom: 24px;
}

.pricing .main .content .card .left .head p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
}

.pricing .main .content .card .left .divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 869px;
    height: 20px;
    left: 48px;
    top: 188px;
}

.pricing .main .content .card .left .divider span {
    position: absolute;
    width: 154px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #4F46E5;
}

.pricing .main .content .card .left .divider img {
    position: absolute;
    width: 713px;
    height: 2px;
    left: 156px;
    top: 9px;
}

.pricing .main .content .card .left .features {
    position: absolute;
    width: 869px;
    height: 60px;
    left: 48px;
    top: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pricing .main .content .card .left .features p {
    display: flex;
    width: 419px;
    height: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #374151;
}

.pricing .main .content .card .left .features p img {
    margin-right: 12px;
}

.pricing .main .content .card .right .information {
    position: absolute;
    width: 237px;
    height: 124px;
    left: 48px;
    top: 57px;
}

.pricing .main .content .card .right .information span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #111827;
}

.pricing .main .content .card .right .information strong {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 237px;
    height: 48px;
    left: 0px;
    top: 40px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #111827;
}

.pricing .main .content .card .right .information strong span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #6B7280;
    margin-left: 12px;
}

.pricing .main .content .card .right .information a {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #6B7280;
    position: absolute;
    width: 237px;
    height: 20px;
    left: 0px;
    top: 104px;
}

.pricing .main .content .card .right .cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 237px;
    height: 86px;
    left: 48px;
    top: 205px;
}

.pricing .main .content .card .right .cta .button3 {
    width: 237px;
    height: 50px;
}

.pricing .main .content .card .right .cta a {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #111827;
    position: absolute;
    width: 237px;
    height: 20px;
    left: 0px;
    top: 66px;
}

.pricing .main .content .card .right .cta a span {
    color: #6B7280;
}

.pricing .plate {
    content: "";
    width: 1440px;
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    background: #F3F4F6;
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1440px;
    height: 711px;
    left: 0px;
    top: 3060px;
}

.faq .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 32px;
    position: absolute;
    width: 1280px;
    height: 567px;
    left: 80px;
    top: 48px;
}

.faq .content .heading {
    position: absolute;
    width: 768px;
    height: 48px;
    left: 256px;
    top: 0px;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.0225em;
    color: #111827;
}

.faq .content .acordian {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 768px;
    height: 495px;
    left: 256px;
    top: 72px;
}

.faq .content .acordian .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 768px;
    height: 493px;
    left: 0px;
    top: 2px;
    justify-content: space-between;
}

.faq .content .acordian .section .faqs1 hr {
    position: absolute;
    top: 0;
    left: 0;
    background: #E5E7EB;
    height: 2px;
    width: 768px;
    border: 0;
}

.faq .content .acordian .section .faqs1 {
    width: 768px;
    height: 108px;
}

.faq .content .acordian .section .faqs {
    height: 53px;
    width: 768px;
    position: relative;
}

.faq .content .acordian .section .faqs .hr {
    position: absolute;
    top: 0;
    left: 0;
    background: #E5E7EB;
    border: 0;
    height: 2px;
    width: 768px;
}

.faq .content .acordian .section .faqs1 strong {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
}

.faq .content .acordian .section .faqs1 p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6B7280;
    margin-top: 8px;
    margin-right: 48px;
}

.faq .content .acordian .section .faqs span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 24px;
}

/* Footer */

.footer {
    position: absolute;
    width: 1440px;
    height: 573px;
    left: 0px;
    top: 3771px;
    background: #111827;
    clip-path: polygon(0 20.95%, 100% 0, 100% 100%, 0% 100%);
}

.footer .footer_wrap {
    position: absolute;
    height: 453px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.footer .footer_wrap .content {
    position: absolute;
    width: 1280px;
    height: 453px;
    left: 80px;
    top: 0px;
}

.footer .footer_wrap .content .header {
    position: absolute;
    width: 1216px;
    height: 220px;
    left: 32px;
    top: 64px;
}

.footer .footer_wrap .content .header .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0px;
    right: 832px;
    top: 0px;
    bottom: 0px;
}

.footer .footer_wrap .content .header .social img {
    position: absolute;
    width: 43.75px;
    height: 40px;
    left: 0px;
    top: 0px;
}

.footer .footer_wrap .content .header .social p {
    position: absolute;
    width: 384px;
    height: 48px;
    left: 0px;
    top: 72px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E5E7EB;
}

.footer .footer_wrap .content .header .social a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 216px;
    height: 24px;
    left: 0px;
    top: 152px;
}

.footer .footer_wrap .content .header .social a img {
    height: 24px;
    width: 216px;
}

.footer .footer_wrap .content .header .links {
    position: absolute;
    height: 220px;
    left: 416px;
    right: 0px;
    top: 0px;
    width: 800px;
    justify-content: space-between;
}

.footer .footer_wrap .content .header .links div {
    width: 176px;
    height: 220px;
}

.footer .footer_wrap .content .header .links div span {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #9CA3AF;
}

.footer .footer_wrap .content .header .links div p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E5E7EB;
    margin-top: 16px;
}

.footer .footer_wrap .content .copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1216px;
    height: 57px;
    left: 32px;
    top: 332px;
}

.footer .footer_wrap .content .copyright p {
    position: absolute;
    width: 1216px;
    height: 24px;
    left: 0px;
    top: 32px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #9CA3AF;
}

.footer .footer_wrap .content .copyright hr {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    background: #374151;
    width: 1216px;
    border: 0;
}